* {
  font-family: Poppins;
  transition: all 1s;
}
body{
    background: #f2f2f2 !important;
    max-width: 1440px;
}
.logo {
  background: -webkit-linear-gradient(
    45deg,
    tomato,
    darkorchid,
    darkorange,
    darkgreen
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box *{
    display: block;
}
.box{
    background: #fff;
}
.back{
  border-radius: 40px;
  position: fixed;
  top: 40px;
  box-shadow: 0px 2px 10px rgba(99, 99, 99, 0.225);
  left: 50px;
}